table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.5rem 1rem;
}

.missionsCont {
  margin: 2rem 4rem;
}

.tableTop {
  text-align: start;
}

.mission:nth-child(odd) {
  background-color: rgb(238, 238, 238);
}

.missionName {
  -webkit-text-stroke: 0.7px;
  top: 0;
  min-width: 7rem;
  max-width: 7rem;
}

.btnCont {
  width: 8rem;
}

.memberBtn {
  border: none;
  background-color: gray;
  border-radius: 5px;
  -webkit-text-stroke: 0.3px;
  color: white;
  padding: 0.3rem;
}

.joinBtn {
  background-color: white;
  border: 2px solid grey;
  color: rgb(72, 72, 72);
  border-radius: 6px;
  -webkit-text-stroke: 0.2px;
  padding: 0.5rem;
  cursor: pointer;
}

.joinBtn:active {
  border: 2px solid black;
  color: black;
  transform: scale(0.95);
}

.joined {
  border: 2px solid red;
  color: red;
}

.member {
  background-color: rgb(25, 156, 179);
}
