.navCont {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  margin: 0 4vw;
  padding: 1rem 0;
  justify-content: space-between;
  border-bottom: 1px solid rgb(166, 166, 166);
}

.navTitle {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.navLogo {
  width: 3rem;
  margin: 0;
  padding: 0;
}

.navUl {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.navLi {
  padding: 0 1rem;
}

.navLi:nth-child(3) {
  border-left: 1px solid black;
}

.navLi a:link,
.navLi a:visited {
  color: rgb(0, 119, 255);
  text-decoration: none;
}

.active {
  text-decoration: underline !important;
  -webkit-text-stroke: 0.5px;
}
